<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provaapp">



    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Optional: only required for FILE payloads -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--this is for qr-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mode_create_2_1.CreateActivity"
            android:parentActivityName=".operative_activity_changer_1.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".operative_activity_changer_1.MainActivity" />
        </activity>

        <activity
            android:name=".operative_activity_changer_1.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mode_join_2_0.JoinSelectRoleActivity"
            android:parentActivityName=".mode_join_2_0.JoinActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_join_2_0.JoinActivity" />
        </activity>

        <activity
            android:name=".mode_join_2_0.JoinActivity"
            android:parentActivityName=".mode_join_2_0.RoomInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_join_2_0.RoomInfoActivity" />
        </activity>

        <activity
            android:name=".mode_join_2_0.RoomInfoActivity"
            android:parentActivityName=".mode_join_2_0.QRReaderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_join_2_0.QRReaderActivity" />
        </activity>

        <activity
            android:name=".mode_join_2_0.ReadyToStartActivity"
            android:parentActivityName=".mode_join_2_0.JoinSelectRoleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_join_2_0.JoinSelectRoleActivity" />
        </activity>


        <activity
            android:name=".mode_create_2_1.QRCreationActivity"
            android:parentActivityName=".mode_create_2_1.CreateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_create_2_1.CreateActivity" />
        </activity>

        <activity
            android:name=".mode_join_2_0.QRReaderActivity"
            android:parentActivityName=".operative_activity_changer_1.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".operative_activity_changer_1.MainActivity" />
        </activity>

        <activity
            android:name=".mode_create_2_1.MasterCreationActivity"
            android:parentActivityName=".mode_create_2_1.QRCreationActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_create_2_1.QRCreationActivity" />
        </activity>

        <activity
            android:name=".mode_create_2_1.WaitForPeerConfigurationActivity"
            android:parentActivityName=".mode_create_2_1.MasterCreationActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_create_2_1.MasterCreationActivity" />
        </activity>

        <activity
            android:name=".mode_create_2_1.ReadyToRecordActivity"
            android:parentActivityName=".mode_create_2_1.WaitForPeerConfigurationActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mode_create_2_1.WaitForPeerConfigurationActivity" />
        </activity>

        <activity android:name=".VideoRecordingActivity" />
        <activity android:name=".AudioRecordingActivity" />

    </application>

</manifest>